# Temporary files
~$*.docx
*.tmp
*.log

# Python/Environment
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints/

# Data and large files (Adjust if you want to include some of these)
archive/
data_scan/
mvtec_dataset*/
comparison_results/
image/*.zip
image/*.pdf
image/*.docx
checkpoints*/

# VS Code
.vscode/

# Benchmarks and Generated Output
benchmark_results*.csv
benchmark_results*.json
heatmaps/
heatmaps_after/
heatmaps_before/

# Documents (Drafts, Binaries, Zips)
docs/*.docx
docs/*.zip
docs/*.pdf

# 3D Print Exports
3D/waiting_print/

